<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Daily UX Challenge #9: Stove Controls</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body class="flexcontainer noselect">
  <div class="stovetop flexcontainer">
    <div class="eyes">
      <div id="i1" class="eye">
        <div class="burner"></div>
        <div class="burner"></div>
        <div class="burner"></div>
      </div>
      <div id="i2" class="eye">
        <div class="burner"></div>
        <div class="burner"></div>
        <div class="burner"></div>
      </div>
      <div id="i3" class="eye">
        <div class="burner"></div>
        <div class="burner"></div>
        <div class="burner"></div>
      </div>
      <div id="i4" class="eye">
        <div class="burner"></div>
        <div class="burner"></div>
        <div class="burner"></div>
      </div>
    </div>
    <h2 id="hot">HOT SURFACE</h2>
  </div>
  <div class="holder">
    <div class="slidebox">
      <input id="s1" class="slider" type="range" min="0" max="100" value="0"></input>
    </div>
    <div class="slidebox">
      <input id="s2" class="slider" type="range" min="0" max="100" value="0"></input>
    </div>
    <div class="slidebox">
      <input id="s3" class="slider" type="range" min="0" max="100" value="0"></input>
    </div>
    <div class="slidebox">
      <input id="s4" class="slider" type="range" min="0" max="100" value="0"></input>
    </div>
  </div>
</body>
<script src="main.js"></script>
