html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-weight: 300;
}

h2 {
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 17px;
  color: red;
  opacity: 0.8;
  bottom: 0px;
  display: none;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.heavy {
  font-weight: 600;
}

.holder {
  position: relative;
  z-index: 0;
  text-align: center;
  width: 200px;
  border-radius: 5%;
  background-color: #222;
  margin: -2%;
}

.slider {
  transform: rotate(-90deg);
  width: 50px;
  display: inline-block;
  margin-top: 50px;
}

.slidebox {
  width: 100px;
  float: left;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 100px;
  position: relative;
}

.stovetop {
  background-color: #222;
  border-radius: 5%;
  position: relative;
}

.eyes {
  width: 480px;
  height: 480px;
  margin: 20px;
}

.eye {
  width: 200px;
  height: 200px;
  background-color: #222;
  border-radius: 50%;
  float: left;
  margin: 0px;
  padding: 0px;
  margin: 20px;
  position: relative;
  border: 5px solid silver;
  box-sizing: border-box;
}

.burner {
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid red;
  box-shadow: 0px 0px 2px 2px red;
  position: absolute;
  opacity: 0;
  top: 32.5px;
  left: 32.5px;
  width: 125px;
  height: 125px;
}

.burner:nth-child(1) {
  top: 57.5px;
  left: 57.5px;
  width: 75px;
  height: 75px;
}

.burner:nth-child(2) {
  top: 45px;
  left: 45px;
  width: 100px;
  height: 100px;
}
